[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Daniel Bracamontes
	email = 59780347+Dedzed101@users.noreply.github.com
